.warning {
  color: red;
  display: none;
  font-size: 12px;
}

.active {
  display: block;
}

.wrapper {
  width: 180px;
  font-weight: bold;
}

#newPhasePeriod {
  width: 108px;
}

.info {
  font-size: 15px;
  color: green;
}

.inputTitle {
  font-size: 12px;
}
